*~
.deps
.libs
configure
autom4te.cache
COPYING
Makefile
Makefile.in
aclocal.m4
ar-lib
config.guess
config.h
config.h.in
config.log
config.status
config.sub
doc/Makefile
doc/Makefile.in
libsrc/Makefile
libsrc/Makefile.in
libsrc/csg/Makefile
libsrc/csg/Makefile.in
libsrc/general/Makefile
libsrc/general/Makefile.in
libsrc/geom2d/Makefile
libsrc/geom2d/Makefile.in
libsrc/gprim/Makefile
libsrc/gprim/Makefile.in
libsrc/include/Makefile
libsrc/include/Makefile.in
libsrc/interface/Makefile
libsrc/interface/Makefile.in
libsrc/linalg/Makefile
libsrc/linalg/Makefile.in
libsrc/meshing/Makefile
libsrc/meshing/Makefile.in
libsrc/occ/Makefile
libsrc/occ/Makefile.in
libsrc/stlgeom/Makefile
libsrc/stlgeom/Makefile.in
libsrc/visualization/Makefile
libsrc/visualization/Makefile.in
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
ng/Makefile
ng/Makefile.in
nglib/Makefile
nglib/Makefile.in
py-compile
py_tutorials/Makefile
py_tutorials/Makefile.in
python/Makefile
python/Makefile.in
stamp-h1
tutorials/Makefile
tutorials/Makefile.in
windows/Makefile
windows/Makefile.in
*.lo
*.la
